<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- stylesheet -->
    <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- link for google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&family=Source+Sans+Pro:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <!-- link for font awesome library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
    <script src="/scripts/admin.js"></script>
    <title>Restaurant Page</title>
  </head>
  <body>
    <nav>
      <div id="nav-links">
        <iconify-icon icon="mdi:lighthouse" id="lighthouse"></iconify-icon>
        <span id="nav-logo">Lighthouse Delivery</span>
        <div class="nav-login">
          <h2 class="restaurant-name">Il Ristorante di Enzo</h2>
        </div>
      </div>
    </nav>
    <div id="orders-list">
      <h3>ORDERS</h3>
      <table id="orders">
        <thead>
          <tr>
            <th class="order-number">Order ID</th>
            <th class="order-dishes">Dishes</th>
            <th class="order-total">Total</th>
            <th class="order-actions">Ready At</th>
            <th class="order-buttons">Confirm</th>
          </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
